<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx  
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd 
		http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<bean id="transactionManager"
		class="org.springframework.transaction.jta.JtaTransactionManager">
		<constructor-arg index="0" ref="userTransaction"></constructor-arg>
		<constructor-arg index="1" ref="atomikosTransactionManager"></constructor-arg>
	</bean>
	<!-- 使用xml配置事务,无需使用注解,service层就不依赖spring了 -->
	
	<!-- 事物切面配置 -->
	<tx:advice id="advice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="testService"
			expression="execution(* com.example.service.*.*(..))" />
		<aop:advisor pointcut-ref="testService" advice-ref="advice" />
	</aop:config>

</beans>
